.burger-btn {
    position: fixed;
    top: 30px;
    right: 50px;
    height: 0;
    width: 40px;
    background-color: transparent;
    padding: 20px 0;
    cursor: pointer;
    z-index: 108;
    transition: transform 0.3s;
}

.burger-btn::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--color-dark);
    transform: translateY(-10px);
    transition: transform 0.3s;
}

.burger-btn--active::before {
    transform: translateY(0px) rotate(45deg);
}

.burger-btn::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--color-dark);
    transform: translateY(10px);
    transition: transform 0.3s;
}

.burger-btn--active::after {
    transform: translateY(0px) rotate(-45deg);
}

.burger-btn__line {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--color-dark);
    opacity: 1;
    transition: all 0.3s;
}

.burger-btn__line--active {
    transform: translateX(-40px);
    opacity: 0 !important;
}

.menu--active {
    transform: translateX(0%) !important;
}

.home--active {
    animation: revealLink 0.5s 0.3s forwards !important;
    transform: translateX(50px);
    opacity: 0;
}

.about--active {
    animation: revealLink 0.5s 0.4s forwards !important;
    transform: translateX(50px);
    opacity: 0;
}

.products--active {
    animation: revealLink 0.5s 0.5s forwards !important;
    transform: translateX(50px);
    opacity: 0;
}

.contacts--active {
    animation: revealLink 0.5s 0.6s forwards !important;
    transform: translateX(50px);
    opacity: 0;
}

@keyframes revealLink {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 900px) {
    .burger-btn {
        right: 25px;
    }
}
