.product-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.product-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.product-info-container {
  width: 50%;
  padding: 0 50px;
  box-sizing: border-box;
}

.product-name {
  font-size: clamp(20px, 3vw, 30px);
  font-weight: 700;
  margin: 0;
}

.product-info {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0;
  text-align: justify;
}

img {
  width: 100%;
}

.icon-info {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.product-list-info {
  font-family: var(--secondary-font-family);
  list-style-position: inside;
  padding: 0;
  font-weight: 500;
}

.product-list-info li::marker {
  color: #c8dd13;
  font-size: 24px;
}

/* SWIPER */

.swiper {
  width: 50%;
  height: 100%;
}

.swiper-slide {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
}

.swiper-button-prev,
.swiper-button-next {
  scale: 1;
  transition: all 0.5s !important;
}

.swiper-button-disabled {
  scale: 0;
  transition: all 0.5s !important;
}

.swiper-pagination-bullet {
  opacity: 0.5 !important;
  background-color: white !important;
  border-radius: 5px !important;
  transition: width 0.5s;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  width: 20px !important;
  border-radius: 5px !important;
  background-color: white !important;
  transition: width 0.5s;
}

@media screen and (width < 1000px) {
  .product-info-container {
    width: 100%;
    padding: 50px;
  }

  .product-container,
  .product-container1 {
    flex-direction: column-reverse;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 900px) {
  .product-info-container {
    padding: 25px;
  }
}
