.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 100vh;
    background-color: var(--color-dark);
    text-align: center;
    padding: 50px 50px 150px;
}

.to-top-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 50px;
}

.to-top-btn i:nth-child(1) {
    opacity: 0;
    animation: revealArrow3 1s infinite;
}

.to-top-btn i:nth-child(2) {
    opacity: 0;
    animation: revealArrow2 1s infinite;
}

.to-top-btn i:nth-child(3) {
    opacity: 0;
    animation: revealArrow 1s infinite;
}

@keyframes revealArrow {
    20%,
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes revealArrow2 {
    15% {
        opacity: 0;
    }
    40%,
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes revealArrow3 {
    25% {
        opacity: 0;
    }
    60%,
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.footer-logo {
    color: var(--color-light);
    font-size: clamp(26px, 3vw, 36px);
}

.certificate-info {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: var(--color-light);
    padding: 25px 0;
}

.certificate-img {
    width: 50px;
}

.footer-link {
    list-style-type: none;
    padding: 0;
}

.footer-link a {
    color: var(--color-light);
    font-family: "Poppins", sans-serif;
    transition: color 0.15s;
}

.footer-link a:hover {
    color: var(--color-active);
}

hr {
    width: 100%;
    border: 2px solid var(--color-light);
    margin: 25px 0;
}

.extra-hr {
    display: none;
    width: 100%;
    border: 2px solid var(--color-light);
}

.footer-nav-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-nav-name {
    color: var(--color-light);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.footer__rights-creator {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: var(--color-dark);
    background-color: var(--color-light);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.rights,
.creator {
    font-family: "Poppins", sans-serif;
    font-size: clamp(12px, 2vw, 14px);
}

.creator a {
    transition: color 0.15s;
}

.creator a:hover {
    color: var(--color-active);
}

@media screen and (max-width: 900px) {
    .footer {
        padding: 50px 25px 200px;
    }
    .footer__rights-creator {
        padding: 0 25px;
    }
}

@media screen and (max-width: 650px) {
    .footer-nav-container {
        flex-direction: column;
    }
    .extra-hr {
        display: initial;
    }
}
