@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Corben:regular,700");
@import url("./reset.css");

:root {
    --color-light: #ebe6e0;
    --color-dark: #4c7766;
    --color-active: #c9dd13;
    --main-font-family: "Corben", serif;
    --secondary-font-family: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font-family);
    background-color: var(--color-light);
    min-height: 100vh;
    color: var(--color-dark);
}

#root {
    overflow-x: hidden;
}

.wrapper {
    display: none;
}
